:root{

    --qr-white: hsl(0, 0%, 100%);
    --qr-slate300: hsl(212, 45%, 89%);
    --qr-slate500: hsl(216, 15%, 48%);
    --qr-slate900: hsl(218, 44%, 22%);
    --qr-default-font-size: 15px;
    --qr-font-family: 'Outfit', sans-serif;
    --qr-border-radius: 10px;
    
}

html{
    font-size: var(--qr-default-font-size);
}
body{
    background-color: var(--qr-slate300);
    font-family: var( --qr-font-family);
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center; 
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
.card{
    border-radius: var(--qr-border-radius);
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width:375px;
    background-color: var(--qr-white);
}

.card-content{
     text-align: center;
}
.card-content h1{
    color: var(--qr-slate900);
    font-size: 1.5rem;
    font-weight:900;
}

.card-content figure{
     width: 100%; 
     margin:0
}

.card-content figure img{
    width: 100%;
    border-radius: var(--qr-border-radius);
}
